# Google OAuth — create at https://console.cloud.google.com (OAuth 2.0 Client ID, Web application)
# Authorized redirect URI: http://localhost:3000/api/auth/callback/google
GOOGLE_CLIENT_ID=713677527143-trqntobdbd8s89h95qu7rdffi4tf5ckj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# NextAuth — generate with: openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=a67eead5e287944ec5e74e51502f48b2

# Anthropic API — create at https://console.anthropic.com
ANTHROPIC_API_KEY=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

# Local SQLite — generate with: openssl rand -base64 32
DB_ENCRYPTION_KEY=7963fc708bb759f626ad07e8b2a5c8fc
DATABASE_PATH=./rest.db
